@use "variables" as *;

// ------------------------------------------------
//  ファイル名：_fonts.scss
//  機能：フォントのスタイルを記述する
// ------------------------------------------------
// NotoSansJP Medium
@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: $fontweight-medium;
  src: url("../fonts/NotoSansJP-Medium.otf") format("opentype");
}

// Roboto Regular
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: $fontweight-regular;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

// Roboto Medium
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: $fontweight-medium;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
