@use "mixin" as m;
@use "variables" as v;

// ------------------------------------------------
//  ファイル名：_main.scss
//  機能：webページ全体のスタイルを記述する
// ------------------------------------------------

// ----------------------
//  レイアウト
// ----------------------
.ly_wrapper {
  overflow-x: hidden;
}

// ヘッダー
.ly_header {
  width: 100%;
  padding: 12px 0;
  background-color: v.$color-beige;

  // 上部に固定
  position: fixed;
  top: 0;
  z-index: 9999;
}

.ly_header_inner {
  width: 100%;
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

// コンテンツ
.ly_cont {
  width: 100%;
  max-width: 1060px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  &.ly_cont__vision {
    padding: 104px 15px 99px;

    @include m.sp {
      padding-bottom: 106px;
    }
  }

  &.ly_cont__service {
    padding: 104px 15px 100px;
  }

  &.ly_cont__news {
    padding: 100px 15px;
    @include m.sp {
      padding: 110px 15px 90px;
    }
  }
}

// フッター
.ly_footer {
  width: 100%;
  background-color: v.$color-black;
}

.ly_footer_inner {
  width: 100%;
  max-width: 1230px;
  height: 79px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;

  @include m.sp {
    height: 60px;
    padding-top: 23px;
  }
}

// ----------------------
//  ヘッダー
// ----------------------
.bl_headerUtils {
  display: flex;
  justify-content: space-between;
  height: 50px;

  // 高さを継承
  * {
    height: inherit;
  }
}

// サイトロゴ
.bl_headerUtils_logo {
  display: inline-block;
}

.bl_headerUtils_logo a {
  // 文字
  text-decoration: none;
  color: v.$color-green;
  font-size: 1.625rem;
  font-weight: map-get(v.$fontweights, medium);

  // 文字を上下中央揃え
  display: flex;
  align-items: center;

  @include m.sp {
    font-size: 1.5rem;
  }
}

// ----------------------
//  ヘッダーナビゲーション
// ----------------------
.bl_headerNav {
  display: inline-block;

  @include m.sp {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: v.$color-beige;

    // 最初は非表示(ハンバーガーボタン押下でふわっと表示(is_fade))
    opacity: 0;
    visibility: hidden;
    transition: visibility opacity 0.5s;

    * {
      // PC幅で高さを継承していたものを解除（bl_headerUtils）
      height: auto;
    }

    &.is_fade {
      @include m.sp {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .el_btn {
    @include m.sp {
      margin: 15px auto;
    }
  }
}

.bl_headerNav_inner {
  // リストとボタンを横並び
  display: flex;

  @include m.sp {
    flex-direction: column;

    // 上下左右中央揃え
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // 配置
  .bl_headerNav_list {
    margin-right: 68px;
    margin-left: auto;

    @include m.sp {
      margin-right: auto;
    }
  }
}

.bl_headerNav_list {
  // 横並び
  display: flex;

  // スタイル
  list-style: none;

  @include m.sp {
    flex-direction: column;
  }
}

.bl_headerNav_list li {
  @include m.sp {
    margin-bottom: 24px;
  }
}

.bl_headerNav_list li:not(:last-child) {
  margin-right: 65px;

  @include m.sp {
    margin-right: 0;
  }
}

// リンク
.bl_headerNav_link {
  // 文字
  text-decoration: none;
  color: v.$color-green;
  letter-spacing: 0.05em;

  // 文字を上下左右中央揃え
  display: flex;
  justify-content: center;
  align-items: center;

  @include m.sp {
    // クリック領域を広げる
    padding: 15px 0;
  }
}

// ----------------------
//  ハンバーガーボタン
// ----------------------
.bl_hamburgerBtn {
  display: none;
  @include m.sp {
    display: block;
  }
}

// ハンバーガーボタンアイコン
.bl_hamburgerBtn_icon {
  // 各バーの基準位置
  position: relative;
  z-index: 1100;

  // サイズ
  display: block;
  width: 25px;
  height: 16px;
}

// ハンバーガーボタン（オープン）：共通
.bl_hamburgerBtn_bar {
  position: absolute;
  display: block;
  width: inherit;
  height: 2px;
  background-color: v.$color-green;
  transition: all 0.3s;
  border-radius: 100vh;
}

// ハンバーガーボタン（オープン）：一段目のバー
.bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__top {
  top: -1px;
}

// ハンバーガーボタン（オープン）：二段目のバー
.bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__mid {
  top: 50%;
  transform: translateY(-50%);
}

// ハンバーガーボタン（オープン：三段目のバー
.bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__bottom {
  bottom: -1px;
}

// ハンバーガーボタン（クローズ）：一段目のバー
.bl_hamburgerBtn.is_close .bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__top {
  transform: translate(-5px, 19px) rotate(45deg);
}

// ハンバーガーボタン（クローズ）：二段目のバー
.bl_hamburgerBtn.is_close .bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__mid {
  opacity: 0;
}

// ハンバーガーボタン（クローズ）：三段目のバー
.bl_hamburgerBtn.is_close .bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__bottom {
  transform: translate(-5px, 3px) rotate(-45deg);
}

// ハンバーガーボタンのオープン時はスクロールしない
.is_noscroll {
  overflow: hidden;
}

// ----------------------
//  フッター
// ----------------------
.el_copyRight {
  // 文字
  color: v.$color-beige;
  font-size: 0.875rem;
  font-weight: map-get(v.$fontweights, regular);
  letter-spacing: 0.05em;
}

// ----------------------
//  FV
// ----------------------
.bl_firstView {
  // 文字の基準位置
  position: relative;

  // 背景画像
  width: 100%;
  height: 740px;
  background-image: url("../img/fv-bgi.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  // 余白（ヘッダー分下げる）
  margin-top: 74px;

  @include m.sp {
    height: calc(100vh - 74px);
  }
}

.bl_firstView_txt {
  // 位置
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // 文字
  white-space: nowrap;
  text-align: center;
  color: v.$color-beige;
  font-size: 3rem;
  letter-spacing: 0.05em;
  @include m.line-height-adjustment(1.375);
  @include m.line-height-inc(15px, 7px);

  // 文字位置調整
  padding-left: 0.05em;

  @include m.sp {
    // 文字
    font-size: 1.875rem;
    @include m.line-height-adjustment(1.466666);
    @include m.line-height-inc(6px, 2px);
  }
}

// ----------------------
//  CTAエリア
// ----------------------
.bl_cta {
  // ボタンの基準位置
  position: relative;

  // サイズ
  width: 100%;
  height: 340px;

  // 背景画像
  background-image: url("../img/BG.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  // 配置
  .el_btn {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }
}

// ----------------------
//  カード（横に３つ並び）
// ----------------------
.bl_cardUnit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;

  @include m.sp {
    grid-template-columns: 1fr;
    gap: 46px;
  }
}

.bl_card {
  @include m.sp {
    padding: 0 12.5px;
  }

  // モジュール間の余白
  .bl_card_imgWrapper {
    margin-bottom: 20px;

    @include m.sp {
      margin-bottom: 14px;
    }
  }
}

.bl_card_imgWrapper {
  position: relative;
  padding-top: 75%;
  overflow: hidden;

  & > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }
}

.bl_card_body > *:not(:last-child) {
  margin-bottom: 30px;
}

.bl_card_ttl {
  text-align: center;
}

// ----------------------
//  投稿リスト
// ----------------------
.bl_postList {
  list-style: none;
  padding-top: 1px;
}

.bl_postList li {
  display: flex;
  align-items: bottom;
  padding-bottom: 29px;
  border-bottom: 1px solid v.$color-beige-sub;

  &:not(:first-child) {
    padding-top: 30px;
  }

  @include m.sp {
    display: flex;
    flex-direction: column;
    padding-bottom: 19px;

    // 配置
    .bl_postList_date {
      margin-bottom: 14px;
    }
  }
}

.bl_postList_date {
  display: inline-block;
  width: 122px;

  // 文字
  font-size: 0.875rem;
  @include m.line-height-adjustment(1.785714);
  @include m.line-height-inc(3px, 3px);
}

.bl_postList_link {
  text-decoration: none;
  font-size: 0.9375rem;
  letter-spacing: 0.05em;
  color: v.$color-green;
  @include m.line-height-adjustment(1.6);
  @include m.line-height-inc(3px, 3px);
}

// ----------------------
//  共通パーツ
// ----------------------
// ボタン
.el_btn {
  // サイズ
  width: 130px;
  padding: 15.5px 0;

  // 文字
  text-decoration: none;
  color: v.$color-beige;
  letter-spacing: 0.05em;

  // 文字を上下左右中央揃え
  display: flex;
  justify-content: center;
  align-items: center;

  // スタイル
  background-color: v.$color-green;
  border-radius: 4px;

  &:hover {
    background-color: v.$color-greyish-green;
  }

  // モディファイア：幅220px
  &.el_btn__wide {
    width: 220px;
  }

  // モディファイア：フォントサイズ20px
  &.el_btn__fz20 {
    font-size: 20px;
  }

  // モディファイア：上下のパディング18px
  &.el_btn__p18-0 {
    padding: 18px 0;
  }
}

// セクションタイトル
.el_secTtl {
  // 疑似要素の基準位置
  position: relative;

  // 文字
  font-size: 2.25rem;
  letter-spacing: 0.05em;

  // 疑似要素との余白
  padding-bottom: 21px;

  // モジュール間の余白
  margin-bottom: 50px;

  &::after {
    // 位置
    position: absolute;
    bottom: 0;
    left: 0;

    // スタイル
    display: block;
    content: "";
    width: 34px;
    height: 4px;
    background-color: v.$color-green;
  }

  // モディファイア：中央揃え
  &.el_secTtl__center {
    text-align: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }

    @include m.sp {
      text-align: left;

      &::after {
        left: 0;
        transform: none;
      }
    }
  }
}

// エレメント要素のまとまり
.bl_elUnit {
  & :not(:last-child) {
    // モジュール間の余白
    margin-bottom: 30px;
  }
}

// テキスト
.el_txt {
  letter-spacing: 0.05em;
  @include m.line-height-adjustment(1.875);
  @include m.line-height-inc(6px, 2px);

  // モディファイア：文字が大きい
  &.el_txt__large {
    font-size: 1.5rem;
    @include m.line-height-adjustment(1.833333);
    @include m.line-height-inc(8px, 3px);

    @include m.sp {
      font-size: 1.25rem;
      @include m.line-height-adjustment(1.8);
      @include m.line-height-dec(-9px, -9px);
    }
  }
}

// ----------------------
//  ヘルパー
// ----------------------
// 背景色：ベージュ
.hp_bgcBeige {
  background-color: v.$color-beige;
}

// PC幅でのみ適応
.hp_onlyPc {
  display: block;
  @include m.sp {
    display: none;
  }
}

// スマホ幅でのみ適応
.hp_onlySp {
  display: none;
  @include m.sp {
    display: block;
  }
}
