// ------------------------------------------------
//    ファイル名：_variables.scss
//    機能：変数を記述する
// --------------------------------------------------
// フォントの太さ
$fontweights: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  extrabold: 800,
  black: 900,
) !default;

// ブレークポイント
$breakpoints: (
  lg: 1440px,
  sm: 768px,
  // PC幅→スマホ幅へ切り替える幅
) !default;
